/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
*/



/* =============================================================================
   My CSS
   ========================================================================== */

#particles-js {
    height: 100%;
}

#home {
    height: 100vh;
}

.overlay:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}



/* HOME (log in or sign up)
======================================== */

div#home {
	/* background-image: url(../imgs/landscape.jpg);
	background-size: cover; */
}

div#home .wrap-headline {
	position: relative;
	padding-top: 22%;
	padding-bottom: 40%;
}

div#home h1,
div#home h2 {
	color: black;
}

div#home h2 {
	font-size: 1.5rem;
}

div#home hr {
	width: 10%;
}

div#home .btn-default {
	background-color: rgba(230, 230, 230, 0.5);
	border: none;
}

/* div#home .btn-primary {
	background-color: rgba(100, 200, 200, 1.0);
	border: none;
} */

input#log-in-email {
	border-radius: 4px;
}

input#sign-up-email {
	border-radius: 4px;
}

.hidden-element {
  display: none;
}



/* CONTACT PAGE
======================================== */

section#contact form {
	padding-top: 9rem;
	padding-bottom: 3rem;
}

section#contact .checkbox {
	margin-left: 1.5em;
}

.message-submitted {
	margin-left: 1em;
}


























